.preloader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 500px;
    min-height: 500px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: linear-gradient(180deg, #000000 50%, #00a1ff 80%, #ffffff 100%);
    z-index: 1100;
    filter: contrast(0.1);
    transition: opacity 1s ease-out;
    opacity: 1;
    pointer-events: auto;
    animation: flash 0.5s ease-in-out;
}
.preloader.fade-out {
    opacity: 0;
    pointer-events: none;
}

.preloader-text {
    color: white;
}

@keyframes flash {
    from { opacity: 0.3; }
    to { opacity: 1; }
    //75% { opacity: 0.3; }
}

.padding-global.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease-out;
    //transition: opacity 0.8s cubic-bezier(.4,0,.2,1);
}

.web-page:not(.preloader) .padding-global {
    transition: opacity 0.8s ease-out;
    //transition: opacity 0.8s cubic-bezier(.4,0,.2,1);
    opacity: 1;
}

.back_btn-container {
    width: fit-content;
    position: sticky;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
.back_btn-container:hover {
    cursor: pointer;
}

.back-btn {
    border-radius: 100%;
    overflow: hidden;
    //filter: opacity(0.5) blur(15px);
    padding: 0.25rem;
    width: 3rem;
    height: 3rem;
    transition: all 0.3s ease-out;
}
.back-btn:hover {
    filter: blur(35px);
}

.red-btn {
    background-color: red;
}
.blue-btn {
    background-color: #0022ff;
}

.back_btn-txt {
    position: absolute;
    top: 20px;
    left: 12px;
    filter: contrast(0.1);
    color: transparent;
    font-size: .675rem;
    transition: color 0.5s ease-out;
    pointer-events: none;
}
.back_btn-container:hover .back_btn-txt {
    color: white;
}

.web_page-container {
    position: relative;
    padding: 0 2rem;
}

.web-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    margin-top: -5rem;
}

.web_hero-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 5%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-align: center;
    z-index: 10;
}
.web_hero-text h6 {
    width: 22%;
}
.hero_text-left {
    text-align: left;
}
.hero_text-right {
    text-align: right;
}

.web_hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
}

.hero_video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:56rem;
    height:40.625rem;
    border-radius: 100%;
    filter: blur(15px);
    padding:0;
    position:relative;
    overflow: hidden;
    transition: filter 0.5s ease-out;
}
.hero_video-visit {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000030;
    filter: contrast(0.5);
    position:absolute;
    z-index:10;
    transition: all 1s ease-out;
}

.hero_video-container:hover {
    filter: blur(0px);
}

.web_hero-container:hover .hero_video-visit {
    opacity: 1;
}

.hero_video-link {
    opacity: 0;
    position: absolute;
    z-index: 11;
    filter: blur(5px);
    color: white;
    pointer-events: none;
    transition: all 1s ease-out;
}
.web_hero-container:hover .hero_video-link {
    opacity: 1;
    filter: blur(0px);
    cursor: pointer;
}

.hero-video {
    width:56.5rem;
    height:45.625rem;
    filter: contrast(0.1) blur(0px);
    box-shadow: 0px 0px 25px #000000;
    transition: all 0.3s ease-in-out;
}

.web-description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    //margin: 0 4rem;
    position: relative;
}

.web_description-tags {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    filter: contrast(0.1);
}

.description-tag {
    width: fit-content;
    min-width: 2rem;
    height: 2.5rem;
    min-height: 2.5rem;
    text-transform: uppercase;
    position: absolute;
    padding: .5rem 1.5rem;
    background: linear-gradient(180deg, #000000 40%, #00a1ff 80%, #ffffff 100%);
    background-color: black;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: inset 0px -2px 1px rgba(0,0,0,0.8),
        inset 0 2px 1px rgba(255,255,255,1), 0px 0px 60px 0px black;
    cursor: grab;
    user-select: none;
    color: white;
}

.description-tag,
.description-tag * {
    user-select: none;
}

.description-tag h3 {
    user-select: none;
    pointer-events: none;
}

.description-tag:hover {
    cursor: pointer;
    border-color: red;
}
.description-tag:active {
    cursor: grabbing;
    border-color: red;
}

#tag-01 {
    top: -20rem;
    left: 10rem;
}
#tag-02 {
    top: -10rem;
    left: 5rem;
}
#tag-03 {
    top: 0rem;
    left: 0rem;
}
#tag-04 {
    bottom: -12rem;
    left: 5rem;
}
#tag-05 {
    bottom: -20rem;
    left: 10rem;
}
#tag-06 {
    top: -20rem;
    right: 10rem;
}
#tag-07 {
    top: -10rem;
    right: 5rem;
}
#tag-08 {
    top: 0rem;
    right: 0rem;
}
#tag-09 {
    bottom: -12rem;
    right: 5rem;
}
#tag-10 {
    bottom: -20rem;
    right: 10rem;
}

.grid-image {
    width: 10rem;
}
.grid-image:hover {
    cursor: pointer;
}

.web_description-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30rem;
    border-radius: 25px;
    border: 3px solid #E3E3E3;
    background-color: #EEE;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 120px 40px black;
    padding: 2rem;
    gap: 1rem;
    filter: contrast(0.1);
    position: absolute;
}

.description-paragraph {
    font-size: 1.25rem;
}

.web-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: stretch;   
    justify-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    filter: contrast(0.1);
}

.web_gallery-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    justify-items: center;
    gap: 1rem;
}

.gallery-image {
    width: 22vw;
    height: -webkit-fill-available;
}

.gallery_outer-image {
    width: 100%;
}

// Mobile Styles //

@media (max-width: 768px) {
 
    .preloader {
        width: 100vw;
        min-width: none;
        height: 100vh;
        min-height: none;
    }

    .hero_video-container {
        width: 90vw;
        height: 30vh;
        filter: blur(5px);
    }
    .hero_video-link {
        opacity: 1;
        filter: blur(0px);
        cursor: pointer;
        filter: blur(0px) drop-shadow(0px 4px 3px gray);
    }

    .web_hero-text {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 1rem;
    }

    .web_hero-text h6 {
        width: auto;
    }

    .hero_text-left {
        text-transform: uppercase;
        font-size: 12vw;
        text-align: center;
        width: auto;
    }
    .hero_text-right {
        font-size: 5vw;
        width: auto;
        text-align: center !important;
    }

    .web-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .gallery-image {
        width: 33vw;
        height: auto;
    }
    .gallery_outer-image {
        width: 70vw;
    }

    .web-description {
        flex-direction: column-reverse;
        margin-top: 3rem;
        margin-bottom: 3rem;
        min-height: 0vh;
    }

    .web_description-tags {
        display: none;
        flex-direction: row;
        flex-wrap: wrap !important;

    }
    #tag-01, #tag-02, #tag-03, #tag-04, #tag-05, #tag-06, #tag-07, #tag-08, #tag-09, #tag-10 {
        position: static !important;
    }
    .description-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto !important;
        min-width: 60px !important;
        height: auto !important;
        min-height: 0px !important;
        padding: 0.5rem;
    }
    .description-tag h3 {
        font-size: .75rem;
    }

    .web_description-text {
        position: static;
        padding: 1.5rem;
        box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 40px 10px black;
        //background: linear-gradient(180deg, #000000 60%, #00a1ff 90%, #ffffff 100%);
        //background-color: black;
        //border: 2px solid black;
        //border-radius: 50px;
        //box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.8), inset 0 2px 1px rgb(255, 255, 255), 0px 0px 60px 0px black;
        //color: white;
    }
    .description-title {
        font-size: 1.5rem;
    }
    .description-paragraph {
        font-size: .65rem !important;
    }
}