.connect-page {
    min-height: 100vh;
    padding: 2rem;
}

.connect-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 2rem;
}

fieldset {
  display: flex;
  justify-content: center;
  border: none;
  gap: 1rem;
}

.none {
  display: none;
}

fieldset button {
    cursor: pointer;
    background-color: transparent;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    border: 2px solid #7C7C7C;
    box-shadow: inset 0 -1px 1px #7C7C7C;
}
fieldset button:focus {
    color: #7C7C7C;
}

button #split {
    display: none;
}

.connect-form {
    position: sticky;
    margin: 0;
    width: auto;
    top: 80px;
    z-index: 10;

    ul {
        display: flex;
        flex-direction: column;
        width: 34rem;
        gap: .5rem;
        padding: 0;
        li {
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            clear: both;
        }
        li.half {
            width: 48%;
            float: left;
            clear: none;
        }
    }

    .form-half {
      display: flex;
      justify-content: space-between;
    }

    .form-input {
      border-radius: 15px;
      border: 3px solid #E3E3E3;
      background-color: #EEE;
      color: black;
      box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      padding: .5rem 1rem;
      filter: contrast(0.1);
    }

    .form-input:focus {
        border-color: red !important;
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        height: 50px;
        font-size: 1rem;
        padding: 0 1.5rem;
        box-sizing: border-box;
    }
    input[type='submit'] {
        font-family: NIS-JTC-Win-M5-Condensed;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
    }
    textarea {
      width: 100%;
      height: 90px;
      font-size: 1rem;
      padding: 1.5rem;
      box-sizing: border-box;
    }
}

.connect_ID-container {
  display: flex;
  flex-direction: column;
  height: 145vh;
  overflow: hidden;
  justify-content: flex-start;
}

.connect_ID-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  margin-bottom: 1rem;
  max-width: 820px;
}

.connect_ID-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  margin-bottom: 2rem;
  max-width: 820px;
}

.ID_columns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.ID_column-01 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.ID-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: .25rem;
}
.ID_info-row {
  display: flex;
  flex-direction: row;
  gap: .75rem;
}
.ID-label {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: .6rem;
  font-weight: 600;
}
a.ID-text {
  text-transform: none;
}

.ID-text {
  font-size: .8rem;
  line-height: 1.75;
}
.ID-textbox {
  border: 1px solid black;
  padding: .125rem;
}
.connect-ID {
  width: 10rem;
  border: 1px solid black;
  filter:contrast(0.1);
}

.half {
  width: 40%;
}

.connect-text {
  display: flex;
  flex-direction: column;
  width: 38rem;
  position: absolute;
  gap: 1rem;
}

.connect-image {
  filter: contrast(0.1) blur(5px);
}

.connect_text-p {
  font-size: .8rem;
  line-height: 1.75;
  width: 100%;
  text-align: center;
  will-change: transform;
}

.connect_text-p span {
  will-change: color, transform;
}

.connect-details {
    border-radius: 100%;
    overflow: hidden;
    filter: opacity(0.4) blur(25px);
    background-color: blue;
    width: 30rem;
    height: 30rem;
}