.connect-page {
    min-height: 100vh;
}

.connect-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}

.connect-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4rem;
    gap: 2rem;
}

fieldset {
  display: flex;
  justify-content: center;
  border: none;
  gap: 1rem;
}

.none {
  display: none;
}

fieldset button {
    cursor: pointer;
    background-color: transparent;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    border: 2px solid #7C7C7C;
    box-shadow: inset 0 -1px 1px #7C7C7C;
}
fieldset button:focus {
    color: #7C7C7C;
}

button #split {
    display: none;
}

.connect-form {
    position: sticky;
    margin: 0;
    width: auto;
    top: 80px;
    z-index: 1001;

    ul {
        display: flex;
        flex-direction: column;
        width: 34rem;
        gap: .5rem;
        padding: 0;
        li {
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            clear: both;
        }
        li.half {
            width: 48%;
            float: left;
            clear: none;
        }
    }

    .form-half {
      display: flex;
      justify-content: space-between;
    }

    .form-input {
      border-radius: 15px;
      border: 3px solid #E3E3E3;
      background-color: #EEE;
      color: black;
      box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      padding: .5rem 1rem;
      filter: contrast(0.1);
    }

    .form-input:focus {
        border-color: red !important;
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        height: 50px;
        font-size: 1rem;
        padding: 0 1.5rem;
        box-sizing: border-box;
    }
    input[type='submit'] {
        font-family: NIS-JTC-Win-M5-Condensed;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
    }
    textarea {
      width: 100%;
      height: 150px;
      font-size: 1rem;
      padding: 1.5rem;
      box-sizing: border-box;
    }
}

.connect_ID-container {
  display: flex;
  flex-direction: column;
  height: 145vh;
  overflow: hidden;
  justify-content: flex-start;
}

.connect_ID-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  margin-bottom: 1rem;
  max-width: 820px;
}

.connect_ID-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  margin-bottom: 2rem;
  max-width: 820px;
}

.ID_columns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.ID_column-01 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.ID-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: .25rem;
}
.ID_info-row {
  display: flex;
  flex-direction: row;
  gap: .75rem;
}
.ID-label {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: .6rem;
  font-weight: 600;
}
a.ID-text {
  text-transform: none;
}

.ID-text {
  font-size: .8rem;
  line-height: 1.75;
}
.ID-textbox {
  border: 1px solid black;
  padding: .125rem;
}
.connect-ID {
  width: 10rem;
  border: 1px solid black;
  filter:contrast(0.1);
}

.half {
  width: 40%;
}

.connect-text {
  display: flex;
  flex-direction: column;
  width: 38rem;
  position: absolute;
  gap: 1rem;
}

.connect-image {
  filter: contrast(0.1) blur(5px);
}

.connect_text-p {
  font-size: .8rem;
  line-height: 1.75;
  width: 100%;
  text-align: center;
  will-change: transform;
}

.connect_text-p span {
  will-change: color, transform;
}

.connect-details {
    border-radius: 100%;
    overflow: hidden;
    filter: opacity(0.4) blur(25px);
    background-color: blue;
    width: 30rem;
    height: 30rem;
}


.back_btn-container {
    width: fit-content;
    position: sticky;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
.back_btn-container:hover {
    cursor: pointer;
}

.back-btn {
    border-radius: 100%;
    overflow: hidden;
    padding: 0.25rem;
    width: 3rem;
    height: 3rem;
    transition: all 0.3s ease-out;
}
.back-btn:hover {
    filter: blur(35px);
}

.black-btn {
    background-color: black;
}

.connect_ID-mobile {
    display: none;
}

// Mobile styles 

@media (max-width: 768px) {

  .back-btn {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  .back-btn:hover {
    filter: blur(0px);
  }
  .back_btn-txt {
    top: 12px !important;
    left: 5px !important;
    font-size: .5rem !important;
    color: black !important;
  }

  .connect-info {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2rem;
    gap: 0rem;
  }

  .connect_ID-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
    max-width: 820px;
  }

  .connect_text-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28rem;
    position: absolute;
    gap: 1rem;
  }

  .text-mobile {
    font-size: .4rem;
    line-height: 1.75;
    width: 58%;
    text-align: center;
  }

  .connect-form {
    position: static;
    margin: 0;
    width: auto;
    z-index: auto;
  }

  .connect-form ul {
    width: auto;
  }

  .connect-form .form-input {
    padding: .5rem;
  }

  .connect-form input[type='text'],
  .connect-form input[type='email'] {
    height: auto;
    font-size: .65rem;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    padding: .5rem;
  }  

  .connect-form textarea {
    height: 100px;
    font-size: .65rem;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.25) !important;

  }  

  .connect_ID-container {
    height: auto;
    overflow: visible;
  }
  .connect-ID {
    width: 3.5rem;
  }
  .connect-image {
    filter: contrast(0.1) blur(2px);
    width: 315px;
  }
  .connect_ID-front .connect-text {
    width: 80%;
  }

  .connect_ID-back {
    display: none;
  }
  .connect_ID-back .connect-text {
    width: 80%;
  }

  .connect-text {
    align-items: center;
  }
  .connect_text-p {
    font-size: .5rem;
    width: 80%;
  }

  .connect-text .connect_text-p {
    text-align: center;
    font-size: .5rem;
  }

  .ID_columns {
    gap: 0.25rem;
  }
  .ID_column-01 {
    gap: 0rem;
  }
  .ID-info {
    gap: 0.125rem;
  }
  .ID_info-row {
    gap: .25rem;
  }

  .ID-info .ID-textbox {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .ID-label {
    font-size: .3rem;
  }
  .ID-text {
    font-size: .3rem;
    line-height: 1.25;
  }
  .ID-textbox h6 {
    font-size: .35rem !important;
  }

}