.error-page {
}

.error-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-globe {
    height: 80%;
    width: 50%;
    border-radius: 50%;
    background-color: red;
    filter: blur(200px);
}