.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 2rem;
  text-rendering: optimizeSpeed;
}

.about-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 820px;
  background-color: #8A8A8A;
  background: linear-gradient(180deg, #8A8A8A 0%, #7E7E7E 200%);
  border-radius: 50px;
  border: 3px solid #E3E3E3;
  box-shadow: 0 3px 50px 10px #00000040;
}

.about-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  will-change: transform;
}

.about-text span {
  font-family: 'Work Sans', sans-serif;
  will-change: color, transform;
}

fieldset {
  display: flex;
  justify-content: center;
  border: none;
  gap: 1rem;
}

.none {
  display: none;
}

fieldset button {
    cursor: pointer;
    background-color: transparent;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    border: 2px solid #7C7C7C;
    box-shadow: inset 0 -1px 1px #7C7C7C;
}
fieldset button:focus {
    color: #7C7C7C;
}

button #split {
    display: none;
}