.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 2rem;
  text-rendering: optimizeSpeed;
}

.about-hero {
  margin-top: 2rem;
}

.about_hero-text {
  margin-bottom: 2rem;
}

.about_ID-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  margin-bottom: 2rem;
  max-width: 820px;
}

.about_ID-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  margin-bottom: 2rem;
  max-width: 820px;
}

.ID_columns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.ID_column-01 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.ID-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: .25rem;
}
.ID_info-row {
  display: flex;
  flex-direction: row;
  gap: .75rem;
}
.ID-label {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: .6rem;
  font-weight: 600;
}
a.ID-text {
  text-transform: none;
}

.ID-text {
  font-size: .8rem;
  line-height: 1.75;
}
.ID-textbox {
  border: 1px solid black;
  padding: .125rem;
}
.about-ID {
  width: 10rem;
  border: 1px solid black;
  filter:contrast(0.1);
}

.half {
  width: 40%;
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 38rem;
  position: absolute;
  gap: 1rem;
}

.about-image {
  filter: contrast(0.1) blur(5px);
}

.about_text-p {
  font-size: .8rem;
  line-height: 1.75;
  width: 100%;
  text-align: center;
  will-change: transform;
}

.about_text-p span {
  will-change: color, transform;
}

fieldset {
  display: flex;
  justify-content: center;
  border: none;
  gap: 1rem;
}

.none {
  display: none;
}

fieldset button {
    cursor: pointer;
    background-color: transparent;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    border: 2px solid #7C7C7C;
    box-shadow: inset 0 -1px 1px #7C7C7C;
}
fieldset button:focus {
    color: #7C7C7C;
}

button #split {
    display: none;
}