.home-page {
  min-height: 100vh;
}

.home-hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.home_hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.home_hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.home-text {
  width: 40%;
  text-align: center;
  line-height: 1.5;
}

.home-text span {
  font-style: italic;
}

.home-featured {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
  gap: 4rem;
  margin-top: 3rem;
}
.home_featured-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  //display: flex;
  //flex-direction: column;
  //align-content: center;
  //justify-content: center;
  //width: 100%;
  gap: 4rem;
  
}
.home_featured-intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: start;
}

.home_featured-intro p {
  width: 30%;
}

.featured-proj {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.proj_image-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 30rem;
  margin: 0;
  padding: 0;
}
.proj_image-banner:hover {
  cursor: pointer;
}

.proj_image-bg {
  position: relative;
  width: 90%;
  height: 30rem;
  background-color: black;
  //background-image: linear-gradient(to bottom, #efb6b1, #8b5e4d);
  border-radius: 100%;
  filter: blur(25px);
  transition: width .8s ease-out, height .8s ease-out, filter .8s ease-out;
  transition-delay: .5s;
}
.proj_image-banner:hover .proj_image-bg {
  width: 10px;
  height: 10px;
}

.proj-image {
  position: absolute;
  z-index: 1;
  filter: contrast(0.1) blur(15px);
  transition: filter .5s ease-out;
  transition-delay: .5s;
}
.proj-image.web {
  width: 30rem;
}
.proj-image.art {
  width: 25rem;
}
.proj_image-banner:hover .proj-image {
  filter: contrast(0.1) blur(0px);
}

.proj-image-behind {
  position: absolute;
  filter: contrast(0.1) blur(15px);
  width: 36rem;
}

.proj_text-left {
  display: flex;
  justify-content: center;
}
.proj_text-right {
  display: flex;
  justify-content: center;
}

.proj-text {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 2.5rem;
  border-radius: 25px;
  border: 3px solid #E3E3E3;
  background-color: #EEE;
  color: #7C7C7C;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: .5rem 1rem;
  gap: 1rem;
  filter: contrast(0.1);
  transition: all 0.3s ease-out;
}

.proj_text-dot {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 100px;
  transition: all 0.3s ease-out;
}
.red, .blue, .yellow, .green, .pink, .brown, .orange, .violet {
  background-color: #7C7C7C;
}
.featured-proj:hover .proj-text {
  cursor: pointer;
  color: black;
}
.featured-proj:hover .red {
  background-color: red;
}
.featured-proj:hover .blue {
  background-color: #00a1ff;
}
.featured-proj:hover .yellow {
  background-color: #f7e714;
}
.featured-proj:hover .green {
  background-color: green;
}
.featured-proj:hover .pink {
  background-color: #FF98F1;
}
.featured-proj:hover .brown {
  background-color: brown;
}
.featured-proj:hover .orange {
  background-color: orange;
}
.featured-proj:hover .violet {
  background-color: #be28be;
}

// Mobile Styles

@media (max-width: 768px) {

  h1 {
    font-size: 15vw;
  }
  h6 {
    font-size: .65rem;
  }

  .title-hover {
    font-size: 20vw;
    filter: blur(10px);
  }
  .title-hover:hover {
    filter: blur(10px);
  }
  .title-hover:active {
    filter: blur(0px);
  }

  .home-hero {
    gap: 1rem;
  }

  .home-text {
    margin-top: 1rem;
    width: 80%;
    font-size: 1rem;
  }

  .home-featured {
    margin-top: 0rem;
  }

  .home_featured-intro {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .home_featured-intro h2 {
    text-transform: uppercase;
  }
  .home_featured-intro p {
    display: none;
  }

  .home_featured-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .proj_image-bg {
    filter: blur(10px);
    height: 7rem;
  }
  .proj-image {
    filter: contrast(0.1) blur(2px);
  }
  .proj_image-banner {
    height: 5rem;
  }
  .proj-image.web {
    width: 8rem;
  }
  .proj-image.art {
    width: 8rem;
  }

  .proj-text {
    justify-content: center;
    width: fit-content;
    padding: 0.5rem;
    color: black;
    border: 3px solid #E3E3E3;
    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0);
  }
  .red {
    background-color: red;
  }
  .blue {
    background-color: #00a1ff;
  }
}