@property --x {
  syntax: '<length-percentage>';
  initial-value: 50vw;
  inherits: false
}

@property --y {
  syntax: '<length-percentage>';
  initial-value: 50vh;
  inherits: false
}

.container {
    padding: 1rem;
}

.home-page {
  --pattern: radial-gradient(closest-side, #777, #fff) 0/ 1em 1em space;
  --map: 
  radial-gradient(circle 200px at var(--x) var(--y), cornflowerblue, #fff);
  height: 100%;
  background: var(--pattern), var(--map);
  background-blend-mode: darken;
  filter: contrast(6); 
  transition: .35s cubic-bezier(.1,0,.5,1.5);
  transition-property: --x, --y;
}

.home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 1rem;
}

.title-hover {
    filter:blur(20px);
    transition: filter 0.3s ease-out;
}

.title-hover:hover {
    filter:blur(0);
}