.home-page {
  min-height: 100vh;
}

.home-hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.home_hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.home_hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.home-text {
  width: 40%;
  text-align: center;
  line-height: 1.5;
}

.home-text span {
  font-style: italic;
}

.home-featured {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  gap: 4rem;
  margin-top: 3rem;
}
.home_featured-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  gap: 10rem;
  
}
.home_featured-intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: start;
}

.home_featured-intro p {
  width: 30%;
}

.featured-proj {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.proj_image-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30rem;
  position: relative;
  background-color: black;
  border-radius: 25px;
}
.proj-image {
  width: 50rem;
  position: absolute;
  filter: contrast(0.1);
}
.proj-text {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 2.5rem;
  border-radius: 25px;
  border: 3px solid #E3E3E3;
  background-color: #EEE;
  color: #7C7C7C;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: .5rem 1rem;
  gap: 1rem;
  filter: contrast(0.1);
  transition: all 0.3s ease-out;
}
.proj-text div {
  background-color: #7C7C7C;
  transition: all 0.3s ease-out;
}
.proj_text-dot {
  width: .75rem;
  height: .75rem;
  border-radius: 100px;
}
.proj-text:hover {
  cursor: pointer;
  color: black;
}
.proj_text div:hover {
  background-color: red;
}

/*
.featured-proj {
  width: 8rem;
  height: 8rem;
  position: relative;
  transition: all 0.3s ease-out;
}
.featured-proj:hover {
  cursor: pointer;
}
.feat_proj-cover {
  display: flex !important;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 70px;
}
.spiral {
  filter: blur(30px);
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}

.blur {
  filter: blur(3px); 
}

.feat_proj-title {
  z-index: 11;
  position: absolute;
  inset: 40% 0% auto;
}
.feat_proj-title.white {
  color: white;
}

.proj_cover-spiral {
  border-radius: 70px;
  width: inherit;
  filter: blur(30px);
}
.proj_cover-img {
  position: absolute;
  width: inherit;
  z-index: 10;
  filter: contrast(0.1);
}
.proj_cover-bg {
  width: 100%;
  height: 100%;
  background-color:azure;
  position: relative;
  z-index: 9;
}
  */