.contact-page {
    padding: 2rem;
}

.contact-hero {
    margin-bottom: 4rem;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-form {
    position: relative;
    width: auto;
    margin-top: 20px;
    z-index: 10;

    ul {
        display: flex;
        flex-direction: column;
        width: 40rem;
        gap: .5rem;
        padding: 0;
        li {
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            clear: both;
        }
        li.half {
            width: 50%;
            float: left;
            clear: none;
        }
    }

    input {
        filter: contrast(0.1);
    }

    input:focus {
        border-color: red !important;
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        height: 50px;
        font-size: 1rem;
        padding: 0 1.5rem;
        box-sizing: border-box;
    }
    input[type='submit'] {
        font-family: NIS-JTC-Win-M5-Condensed;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
    }
    textarea {
        filter: contrast(0.1);
        width: 100%;
        height: 50px;
        font-size: 1rem;
        padding: 1.5rem;
        min-height: 150px;
        box-sizing: border-box;
    }
}



.contact-details {
    border-radius: 340px;
    overflow: hidden;
    filter: opacity(0.4) blur(25px);
    background-color: blue;
    width: 40rem;
    height: auto;
}