a {
    color: #28282B;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

i {
    transition: all 0.3s ease-out;
}

.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    .bar {
        width: 12px;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;
        transition: 0.3s;
    }
}

.link-btn {
    padding: .5rem;
    background-color: black;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: inset 0px -2px 1px rgba(0,0,0,0.8),
        inset 0 2px 1px rgba(255,255,255,1);
    transform: translateX(0); 
    transition: transform 0.3s ease;
}
.link-btn:focus {
    outline: none;
}
.link-btn::after {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 5px solid #F9FE8D;
    border-radius: 5px;
    content: "";
    box-shadow: 0 0 15px 7.5px rgb(255, 166, 0);
    animation: orb 1.5s infinite linear;
    opacity: 0;
}
.link-btn:hover {
  cursor: pointer;
  background: linear-gradient(#000000 25%, #680908 100%);
  border-color: red;
  transform: translateX(20px);
}
.link-btn:hover:after {
  opacity: 1;
}
.link_btn-text {
  color: white;
  font-size: 1rem;
}
/* Rotate animation */
@keyframes orb {
  from{
     transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}

.nav-bar.show {
    top: 0;
}

.nav-bar {
    position: fixed;
    top: -100vh;
    left: -0; // hidden by default
    width: 100%;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
    transition: top 0.3s;
    z-index: 1000;
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 0;

        img {
            display: block;
            margin: 8px auto;
            width: 24px;
            height: auto;
        }
    }
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.navlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
        display: block;
        margin: 8px auto;
        width: 24px;
        height: auto;
    }
}

.nav-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-normal {
    position: absolute;
}

.icon-hover {
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.icon-hover:hover {
    opacity: 1;
    display: block;
}

.close-nav {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1002;
}


